@import url('/src/index.css');

header {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--pkmn-first-bg);
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  padding: 0 var(--pkmn-padding-section);
}

/*Mediaqueries*/
@media (max-width: 670px) {
  header {
    justify-content: center;
  }
}

@media (max-width: 535px) {
  header {
    padding: 0 var(--pkmn-padding-m);
  }
}

@media (max-width: 450px) {
  header {
    display: none;
  }
}
